.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
   }
   
   .fullscreen-bg__video {
    width: 100%; /* Asegura que el video ocupe todo el ancho del contenedor */
    max-width: 800px; /* Establece un ancho máximo para el video */
    height: auto; /* Mantiene la proporción del video */
    object-fit: cover; /* Asegura que el video cubra el área disponible sin distorsionarse */
   }